<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>flask demo</title>
   

  <link rel="stylesheet" type="text/css" href= {{url_for('static', filename='style.css')}} />
  <link rel="shortcut icon" href="{{ url_for('static', filename='sword.jpg') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Waquar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./about.html">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact us</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
      
      

     
	<!---------------about__-section------------>
	<section class="main_heading about_us my-1 bg-secondary">
	
    <div class="text-center">
      <h1 class="display-4">about us</h1>
      <hr class="w-25 mx-auto" />
      
    </div>

       <div class="container">
      <div class="row my-1">
         <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
           <figure>
                <img src="{{url_for('static',filename='images3.jpg')}}" alt="about image" class="img-fluid about_img">
         </figure>
      </div>
      <div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center align-items-center flex-column">
        <h1>My journey</h1>
        <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking,which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.</p>
        <button type="button" class="btn btn-info">Check More</button>
      </div>
      
      </div>
     </div>



</section>
<!---------------footer section------------->
			 
	<footer class="bg-secondary  mt-1 text-center text-danger ">	
        <p> @Copyright Waquaraz</p>
     <p>if you have any suggestion Please contact us at Mob:-898605****</p>
    </footer>	
  </body>	
</html>	